<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AircraftCondition.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AircraftCondition.Properties.Settings.MTAConnectionString"
            connectionString="Data Source=DESKTOP-EOOD29G\SQLEXPRESS;Initial Catalog=MTA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <AircraftCondition.Properties.Settings>
            <setting name="defLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="defPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DBServer" serializeAs="String">
                <value />
            </setting>
            <setting name="DBDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="DBUserId" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DBAutoSecurity" serializeAs="String">
                <value>False</value>
            </setting>
        </AircraftCondition.Properties.Settings>
    </userSettings>
</configuration>